<div class="table-responsive">
    <table class="table table-sm">
        <thead class="thead-dark">
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in dictionary.items %}
            <tr>
                <td rowspan="{{ value|length }}">{{ key }}</td>
                <td>
                    {# First value #}
                    {{ value|first }}
                </td>
            </tr>
            {# Remainindg values #}
            {% for v in value %}
                {% if not forloop.first %}
                    <tr>
                        <td>
                            {{ v }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>
