{% extends "http_debug/base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Request data</h1>

    {% if all_url %}
        <p>For more information, add the <code>all</code> parameter to query. Click <a href="{{ all_url }}">here</a> to
            add the parameter to the current page (does not work for POSTed pages).</p>
    {% endif %}

    {% if get_dict %}
        <h2>GET</h2>

        {% with dictionary=get_dict %}
            {% include 'http_debug/dictionary_table.html' %}
        {% endwith %}

    {% endif %}

    {% if post_dict %}
        <h2>POST</h2>

        {% with dictionary=post_dict %}
            {% include 'http_debug/dictionary_table.html' %}
        {% endwith %}

    {% endif %}

    <h2>META</h2>
    {% with dictionary=filtered_meta_data %}
        {% include 'http_debug/dictionary_table.html' %}
    {% endwith %}

{% endblock %}
